APP_ENV=local
APP_DEBUG=true
APP_URL=
APP_BASE_PATH=
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
CACHE_DRIVER=file
SESSION_DRIVER=file
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=importwala-images
R2_ENDPOINT=
R2_PUBLIC_URL=
APP_SECRET_KEY=
ELASTICSEARCH_HOST=
MAIL_ENCRYPTION=
REDIS_DB=
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_DB=
REDIS_SESSION_HOST=
REDIS_SESSION_PORT=
REDIS_SESSION_PASSWORD=
REDIS_SESSION_DB=
